.basis-container {
    width: 80%;
    margin: 0 auto;
}

.basis-width {
    width: 100%;
}

.basis-title {
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* width: 80%; */
    background: rgb(247, 247, 247);
}

.basis-title h3 {
    margin-left: 10px;
    color: #555;
}

.el-breadcrumb {
    line-height: 50px;
    float: right;
    padding-right: 10px;
}

.el-pagination{
    padding-top: 20px;
    line-height: 50px;
    height: 50px;
}
